.root-page{
    /*background-color: #282c34;*/
    width:100vw
}
.carousel-style{
    /*background-color: darkseagreen;*/
    padding: 0 10vw 0 10vw;
}
.sort-text-style{
    padding-top: 5px;
    padding-right: 10px;
}
.hr-style{
    padding: 0 19vw 0 19vw;
}
.sort-style{
    padding: 10px 19vw 20px 19vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.drop-picker{
    padding-right: 10px;
}
/*.card-position{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/